@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css atau di dalam tag <style> di komponen Navbar */


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.hover-trigger:hover > ul {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .hover-trigger > ul {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .hover-trigger summary {
    cursor: pointer;
  }
  